.Content_body{
    display:flex;
    justify-content:space-between ;
    align-Items:center;
    width:90%;
    margin: auto;
    font-weight: normal; /* make text normal weight */
}
.Content-body-up{
    background-color: rgb(215, 161, 13);
}
.Name{
    font-size:30px;
}
.nav-links{
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:20px;
    font-weight: bolder;
    gap: 30px;

}
.images_app{
    display:flex;
    justify-content:space-evenly ;
    align-Items:center;
    width: 20%;
}
.images{
    display:flex;
    justify-content:space-between ;
    align-Items:center;
    padding-left: 30%;
    width: 70%;
}
.buttonMenu{
    display: none !important;
}

@media(max-width:750px){
    .nav-links{
        display: none;
        align-self: flex-end;
    }
    .buttonMenu{
        display: flex !important;
    }
}